
[class^="col"]{
    border: 1px solid black;
}

h2{
    font-size: 2rem;
}

.container-dc{
    width: 80%;
    max-width: 1200px;
    margin:auto;
}

/* HEADER */
header{
    background-color: #2C3E50;
    height: 100px;
}

nav a{
    color: white;
    font-weight: bold;
}

.logo{
    font-weight: bold;
    font-size: 1.2rem;
}

.fa-bars{
    font-size: 1.5rem;
}

.dc-navigation a:hover{
    color: #1ABC9C;
}

/* JUMBOTRON */

.dc-jumbotron{
    background-color: #1ABC9C;
    color: white;
}

.dc-jumbotron img{
    width: 300px;
}

.dc-jumbotron h1{
    font-size: 3rem;
}

.dc-jumbotron p{
    font-size: 1.3rem;
}

/* STAR */

.line{
    width: 20%;
    height: 4px;
    border-radius: 20px;
    margin: 0px 10px;
    background-color: white;
}

.line.black{
    background-color: black;
}

.star{
    font-size: 1.5rem;
}

/* PORTFOLIO */

.portfolio img{
    width: 95%;
    border-radius: 10px;
}

/* ABOUT */
.about{
    background-color: #1ABC9C;
    color: white;
}

.about p{
    text-align: start;
    font-size: 1.2rem;
}

/* CONTACT ME */

.input-custom{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    padding: 0px;
}

.input-custom::placeholder{
    color: black;
}

.button-custom{
    background-color: #1ABC9C;
    border: none;
}

.button-custom:hover{
    background-color: #1abc9ca2;
}

/* FOOTER */

footer{
    background-color: #3A546D;
}

.copyright{
    height: 100px;
    background-color: #2C3E50;
}