header{
    height: 1000px;
    background-color: #1ABC9C;
}

nav{
    height: 100px;
    background-color: #2C3E50;
}

footer{
    background-color: #3A546D;
}

[class^="col"]{
    border: 1px solid black;
    min-height: 100px;
}

.about{
    background-color: #1ABC9C;
    height: 500px;
}

.container-dc{
    width: 80%;
    margin:auto;
}

.copyright{
    height: 100px;
    background-color: #2C3E50;
}