
h2{
    font-size: 2rem;
}

.container-dc{
    width: 80%;
    max-width: 1200px;
    margin:auto;
}

/* HEADER */
header{
    background-color: #2C3E50;
    height: 100px;
}

nav a{
    color: white;
    font-weight: bold;
}

.logo{
    font-weight: bold;
    font-size: 1.2rem;
}

.fa-bars{
    font-size: 1.5rem;
}

.dc-navigation a:hover{
    color: #1ABC9C;
}

/* JUMBOTRON */

.dc-jumbotron{
    background-color: #1ABC9C;
    color: white;
}

.dc-jumbotron img{
    width: 300px;
}

.dc-jumbotron h1{
    font-size: 3rem;
}

.dc-jumbotron p{
    font-size: 1.3rem;
}

/* STAR */

.line{
    width: 20%;
    height: 4px;
    border-radius: 20px;
    margin: 0px 10px;
    background-color: white;
}

.line.black{
    background-color: black;
}

.star{
    font-size: 1.5rem;
}

/* PORTFOLIO */

.portfolio img{
    width: 95%;
    border-radius: 10px;
}

.dc-card{
    width: 100%;
    position: relative;
    cursor: pointer;
}

.add{
    width: 95%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: rgba(26, 188, 156, .5);
}

.dc-card:hover .add{
    display: flex;
}

/* ABOUT */
.about{
    background-color: #1ABC9C;
    color: white;
}

.about p{
    text-align: start;
    font-size: 1.2rem;
}

/* CONTACT ME */

.input-custom{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    padding: 0px;
}

.input-custom::placeholder{
    color: black;
}

.button-custom{
    background-color: #1ABC9C;
    border: none;
}

.button-custom:hover{
    background-color: #1abc9ca2;
}

/* FOOTER */

footer{
    background-color: #3A546D;
    color: white;
}

footer span{
    font-size: 1.3rem;
}

.icons a{
    color: white;
}

.icons a i{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}

.text-green{
    color: #1ABC9C;
}

.copyright{
    background-color: #2C3E50;
}
.copyright span{
    font-size: 1rem;
}